body {
    background-color: #E8E8E8;
}

.y_tbdr {
    border: 1px dashed red;
}

header {
    min-height: 80px;
}


.y_menu>li {
    margin-right: 4px;
    display: flex;
    align-items: center;
}

ul>li:hover {
    background-color: #EBEBEB;
    border-radius: 5px;
}

.y_menu>li:hover ul {
    display: block;
}

.y_submenu {
    background-color: #fff;
    position: absolute;
    display: none;
    border-radius: 5px;
    margin-top: 2px;
}

.y_tnr {
    font-family: 'Times New Roman', Times, serif;
}

main {
    height: 3120px;
    margin-top: 80px;
}


.y_footer1 {
    height: 100px;
}

.y_footer2 {
    height: 1300px;
}

.y_footer3 {
    height: 300px;
}

.y_footer4 {
    height: 100px;
}

::-webkit-input-placeholder {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 25px;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 25px;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

/* Overriding styles */

::-webkit-input-placeholder {
    font-size: 13px !important;
    font-weight: bold;
    color: #333 !important; 
    opacity: 0.5 !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px !important;
    font-weight: bold;
    color: #333 !important; 
    opacity: 0.5 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px !important;
    font-weight: bold;
    color: #333 !important; 
    opacity: 0.5 !important;
}

@media screen and (max-width: 587px) {
    .y_form_col {
        height: 50px;
    }
    .y_pt{
        padding-top: 40px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1450px;

    }

}